


body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-color: white;
}


/* Background photo auto scales */
header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    width: 100%;
    min-height: 100vh;
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    
}

/* Various pictures for different headers */
header.blog { background-image: url(travelBlog.jpg) }
header.intro { background-image: url(intro.jpg) }
header.photos { background-image: url(photos.jpg) }
header.bookshelf { background-image: url(library.jpg) }
header.resume { background-image: url(resume.jpg) }

/* WHITE BANNER */
.header-content {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    padding: 25px 100px;
}

img.page-image {
    width: 20%;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.75vw;
}

span p{
	display: inline;
}

navbar {
    position: absolute;
    left: 0;
    top: 15%;
}

navbar ul {
    text-align: center;
}

navbar li {
    display: block;
    padding: 10px 15px;
    margin: 12.5px 0px;
    border: solid black 2px;
    font-family: 'Comfortaa', cursive;
    font-size: 1.75vw;

}

navbar li.active {
    border: solid #bfbfbf 2px;
    border-radius: 2px;
}

navbar li:hover {
    border: solid #bfbfbf 2px;
}

/* SCREENS UNDER 992px -----------------------------------  */
@media screen and (max-width: 992px) {
    img.page-image {
        width: 30%;
    }
    h1 {
        font-size: 5vw;
    }
    p {
        font-size: 2.5vw;
    }
    navbar li {
        font-size: 2.0vw;
    }        
}

/* SCREENS UNDER 600px */
@media screen and (max-width: 600px) {
    img.page-image {
        width: 55%
    }
    h1 {
        font-size: 6vw;
    }
    p {
        font-size: 3.5vw;
    }
    navbar li {
        font-size: 3.0vw;
    }   
}

/* -------------------------------------------------------  */


.hidden {
    display: none;
}

.hidden > *{
    display: none;
}

.shelf {
    margin-top: 10px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.book {
	width: 100%;
}

.book {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
}
.book div {
    margin: 20px;
}

.book-title, .book-author {
	width: 100%;
	font-size: 20px;
}
.book-description {
	width: 100%;
	line-height: 20px;
}
.book-author {
	color: #999999;
}

.rating {
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
}

ul.added-quotes{
	padding-left: 40px;
	left: 15%;
	width: 70%;
	list-style-type:none;
}
.book-quote {
	margin: 0px;
	padding: 0px;
}

.quote-heading {
	margin-top: 5px;
}

.book-pic {
    width: 150px;
    height: 200px;
}

#add-book-modal {
	position: fixed;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	background-color: #ffffff;
	border: 1px solid #333;
	z-index: 2;
}

.modal-close-button{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 50px;
	background-color: inherit;
	border: none;
	float: right;
}

.modal-header h3 {
	position: relative;
	font-size: 30px;
	right-margin: -50%;
	left: 50%;
}

.add-book-button {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 100px;
	height: 100px;
	font-size: 50px;
	background-color: #6666ff;
	border-radius: 50%;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-footer {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 50px;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.search-text, .description-text{
	margin-left: 5%;
	font-size: 30px;
}
img.delete-button:hover{
	cursor: pointer;
}

ul.results li img{
	z-index: 1000;
	position: relative;
	height: 50px;
	top: 4px;
	left: 4px;
}
ul.results{
	background-color: #eeeeee;
	z-index: 1000;
}
ul.results li:hover{
	background-color: #1122ee;
}
ul.results p{
	position: relative;
	bottom:10px;
	left: 5px;
}
ul {padding-left: 0px; }

ul.results li{
	z-index: 1000;
	border: 1px solid #333;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}



.book-search {
	position: absolute;
	font-size: 30px;
	left: 15%;
	width: 70%;
	height: 40px;
}

ul.results{
	position: absolute;
	left: 15%;
	width: 70%;
	list-style-type:none;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}

#quote-adder > *{
	height:30px;
	font-size:20px;
	padding:5px;
}

.added-quotes > *{
	height:30px;
	font-size:15px;
	padding:5px;
}
.added-quotes {
	margin-left:12%;
}
#quote-adder{
	margin-left:12%;
}
#quote-text{
	width:50%;
}
#quote-by{
	width:15%;
}
div.description{
	display: flex;
	padding-top: 10px;
}
#book-description{
	position: absolute;
	width: 70%;
	left: 15%;
}
table {
    border-collapse: collapse;
    max-width: 70%;
    margin: 20px auto;

}

tr {
    padding: 5px 10px;
}

tr.resume-category {
    border-top: 2px solid purple;
}

th, td {
    padding: 0 20px;
}

th {
    padding-top: 20px;
    text-align: left;
}
article.book{
    border: solid black 2px;
}
article div.book-text{
	width:100%;
}

img.delete-button, img.edit-button{
	width: 20px;
	height: 20px;
	float: right;
}
