body {
    margin: 0;
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(landscape.jpg);
    height: 100vh;
}

.header-content {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

a {
    text-decoration: none;
    color: black;
}

span p{
	display: inline;
}

.page-image {
    color: black;
    font-size: 60px;
    background-color: lightblue;
    border-radius: 100%;
    padding: 25px;
}

navbar {
    position: absolute;
    left: 0;
}

navbar ul {
    text-align: center;
}

navbar li {
    display: block;
    padding: 5px 8px;
    margin: 5px 0px;
    border: solid black 2px;
}

navbar li.active {
    border: solid #bfbfbf 2px;
    border-radius: 2px;
}

navbar li:hover {
    background-color: #bfbfbf;
}

.hidden {
    display: none;
}

.shelf {
    margin-top: 10px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.book {
	width: 100%;
}

.book {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
}
.book div {
    margin: 20px;
}

.book-title, .book-author {
	width: 100%;
	font-size: 20px;
}
.book-description {
	width: 100%;
	line-height: 20px;
}
.book-author {
	color: #999999;
}

.rating {
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
}

.book-quote {
	margin: 0px;
	padding: 0px;
}

.quote-heading {
	margin-top: 5px;
}

.book-pic {
    width: 150px;
    height: 200px;
}

article div.book-text{
	width:100%;
}

img.delete-button, img.edit-button{
	width: 20px;
	height: 20px;
	float: right;
}
/*************************/
