<article class="book">
	<div class="book-cover">
		<img class="book-pic" src="{{thumbnail_large}}">
		<p>* * * * *</p>
	</div>
	<div class="book-text">
		<p class="book-title">{{title}}</p>
		<p class="book-author">By: {{authors}}</p>
		<p class="book-description">{{description}}</p>
	</div>
</article>
