body {
    margin: 0;
    font-family: 'Goudy Bookletter 1911', serif;
}

body::after {
    content: "";
    background-color: whitesmoke;
    opacity: 0.9;
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.home-page {
    background-image: url('landscape.jpg');
}

.bookshelf-page {
    background-image: url('library.jpg');
}

.resume-page {
    background-image: url('space.jpg');
}
a {
    text-decoration: none;
    color: black;
}


.header {
    text-align: center;
    color: white;
    top: 10px;
    bottom: 10px;
    left: 25px;
    right: 25px;
    font-size: 60px;
}

navbar ul {
    margin: 0;
    position: fixed;
    padding: 0;   
    display: flex;
    background-color: aquamarine;
}

navbar li {
    flex: 1 1 40vw;
    display: inline;
    padding: 3px 8px;
    margin: 10px 0px;
    justify-content: space-around;
    flex-grow: 100%;
}

navbar li.active {
    border: solid grey 1px;
    border-radius: 4px;
}

main {
    z-index: 1;
    background-color: salmon;
}
