body {
    margin: 0;
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: cornflowerblue;
}

body::after {
    content: "";
    background-color: whitesmoke;
    opacity: 0.9;
    top: 150px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: block;
}

.home-page {
    background-image: url('landscape.jpg');
}

.bookshelf-page {
    background-image: url('library.jpg');
}

.resume-page {
    background-image: url('space.jpg');
}

a {
    text-decoration: none;
    color: black;
}

.header {
    text-align: center;
    color: white;
    top: 10px;
    bottom: 10px;
    left: 25px;
    right: 25px;
    font-size: 60px;
}

navbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

navbar li {
    display: inline;
    padding: 3px 40px;
    margin: 10px 0px;
    justify-content: space-around;
}

navbar li.active {
    border: solid #bfbfbf 2px;
    border-radius: 2px;
}

navbar li:hover {
    background-color: #bfbfbf;
}

.hidden {
    display: none;
}

.shelf {
    margin-top: 10px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.book {
    display: flex;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
}

.book div {
    margin: 20px;
}

.book-pic {
    width: 150px;
    height: 200px;
}

/*************************/