<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Webpage</title>
    <link rel="stylesheet" href="style.css" media="screen">
    <script src="handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="search.hb" charset="utf-8" defer></script>
    <script src="script.js" charset="utf-8" defer></script>
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script:700|EB+Garamond" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>

<body class="book-page">
	<header class="bookshelf">
        <div class="header-content">
			<img src="BookshelfIcon.png" class="bookshelf page-image">
			<h1>{{pagename}}</h1>
			<p class="header-quote">{{quote}}<br><br> -{{person}}</p>
        </div>

        <navbar>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="books.html">Bookshelf</a></li>
                <li><a href="photos.html">Photos</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="resume.html">Resume</a></li>
            </ul>
        </navbar>
    </header>

	{{{body}}}

	<button type="button" class="add-book-button"> + </button>
    <div id="modal-backdrop" class="hidden"></div>
    <div id="add-book-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3 class="title">Add a Book</h3>
        </div>
		<div class="modal-body">
			<div class="left-page">
				<input type="text" class="book-search" placeholder="Search...">
				<div class="search-results">
					<ul id="hubbabaloo" class="results">
					</ul>
				</div>
				<div class="description">
					<h3 class="label">Description</h3>
					<textarea id="book-description" rows="20" cols="40"> </textarea>
				</div>
			</div>
			<div class="right-page">
					<h3 class="label">Quotes</h3>
				<div class="quotes"> 
					<input id="quote-text" placeholder="Quote..."></input>
					<input id="quote-by" placeholder="Quotee..."></input>
					<button id="quote-add-button" type="button">+</button>
				</div>
				<ul class="added-quotes">
				</ul>
			</div>
		</div>
        <div class="modal-footer">
		  <div class="rating-slider">
				<h3 class="rating-heading label">Rating (1-5)</h3>
				<button type="button" id="minus-button">-</button>
				<button type="button" id="plus-button">+</button>
				<img id="modal-rating" src="rating_1.png"></span>
			</div>
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Add Book</button>
        </div>

      </div>
    </div>

</body>

</html>
