<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Webpage</title>

    <link rel="stylesheet" href="style.css" media="screen">

    <link rel="stylesheet" href="pictures_style.css" media="screen">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    
    <script src="pictureFrame.js" charset="utf-8" defer></script>

    <script src="script.js" charset="utf-8" defer></script>

    <script src="pictures_script.js" charset="utf-8" defer></script>

    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script:700|EB+Garamond" rel="stylesheet">
</head>

    {{{body}}}

</html>